.search{
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
    border-radius: 28px;
    color: white;
}

.search input{
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
    border-radius: 18px;
    color: white;
}
.image-link{
    height: 100%;
    width: 150%;
}